@import '~office-ui-fabric-react/dist/sass/References.scss';

:global {
	.ms-CustomFieldHost .ms-Label {
		font-weight: 600;
	}
}


.cloudMarketingHeader {
	.container {
		max-width: 700px;
		margin: 0px auto;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	}

	.row {
		@include ms-Grid-row;
		@include ms-fontColor-white;
		background-color: $ms-color-themeDark;
		padding: 20px;
	}

	.column {
		@include ms-Grid-col;
		@include ms-lg10;
		@include ms-xl8;
		@include ms-xlPush2;
		@include ms-lgPush1;
	}

	.title {
		@include ms-font-xxl;
		@include ms-fontWeight-bold;
		@include ms-fontColor-white;
	}

	.subTitle {
		@include ms-font-l;
		@include ms-fontColor-white;
	}

	.description {
		@include ms-font-l;
		@include ms-fontColor-white;
	}

	.imgFullWidth {
		background-repeat: no-repeat;
		overflow: hidden;
		width: 100%;
		min-height: 280px;
		background-position: right;
		background-size: cover;
	}

	.content {
    	margin: 50px;
	}

	.textLeft {
		text-align: left;
	}

	.announcementBar {
		height: 25px;
		line-height: 25px;
		padding-top: 3px;
		padding-bottom: 3px;
		text-align: center;
		@include ms-font-m;
		@include ms-fontWeight-bold;
		@include ms-fontColor-black;
	}

	.announcementBarBG { background-color: white; }

	.confidentialBar {
		font-family: "Segoe UI";
		font-size: 11px;
		padding: 3px 5px 3px 5px;
		text-align: left;
		color: #333;
		background-color: #ffffe9;
		border: 1px solid #ffe166;
	}

	.confidentialBarHeader {
		@include ms-fontWeight-bold;
	}

	.confidentialBarDescription {
	}

	.confidentialBar a {
		text-decoration: none;
	}

	.confidentialBarContentToggle {
		position: absolute;
		top: 3px;
		right: 5px;
		font-family: "Arial";
		font-size: 13px;
		color: #333;
		cursor: pointer;
	}

	.confidentialBarIcon {
		color: #333;
		border: 1px solid #333;
		border-radius: 50%;
	}

	.helpLink {
		position: absolute;
		max-height: 35px;
		right: 15px;
		padding: 8px;
		color: #333;
		background-color: white;
		text-decoration: underline;
		cursor: pointer;
	}

	.helpLinkPos1 {
		top: 55px;
	}

	.helpLinkPos2 {
		top: 15px;
	}

	.helpLinkInvert {
		color: white;
		background-color: #333;
	}

	.customInfoRTE {
		max-width: 1236px;
		margin: auto;
		padding: 10px;
	}
	

	/****************/
	/*PRE-SET COLORS*/
	/****************/
	// .bgColorDefault { background-color: $ms-color-themeDark; }
	// .bgColorWhite { background-color: white; }
	// .bgColorBlack { background-color: black; }
	// .bgColorRed { background-color: #E81123; }
	// .bgColorOrange { background-color: #F7630C; }
	// .bgColorYellow { background-color: #FFB900; }
	// .bgColorGreen { background-color: #107C10; }
	// .bgColorBlue { background-color: #0078D7; }
	// .bgColorPurple { background-color: #9A0089; }
	// .bgColorPink { background-color: #E3008C; }
	// .bgColorCyan { background-color: #00B7C3; }

	// .bgColorDefault:hover { filter: brightness(85%); }
	// .bgColorWhite:hover { filter: brightness(85%); }
	// .bgColorBlack:hover { background-color: #303030; }
	// .bgColorRed:hover { filter: brightness(85%); }
	// .bgColorOrange:hover { filter: brightness(85%); }
	// .bgColorYellow:hover { filter: brightness(85%); }
	// .bgColorGreen:hover { filter: brightness(85%); }
	// .bgColorBlue:hover { filter: brightness(85%); }
	// .bgColorPurple:hover { filter: brightness(85%); }
	// .bgColorPink:hover { filter: brightness(85%); }
	// .bgColorCyan:hover { filter: brightness(85%); }

	.txtColorWhite { @include ms-fontColor-white; }
	.txtColorBlack { color: black; }
	.txtColorRed { color: #E81123; }
	.txtColorOrange { color: #F7630C; }
	.txtColorYellow { color: #FFB900; }
	.txtColorGreen { color: #107C10; }
	.txtColorBlue { color: #0078D7; }
	.txtColorPurple { color: #9A0089; }
	.txtColorPink { color: #E3008C; }
	.txtColorCyan { color: #00B7C3; }

	.colorInformational { 
		background-color: #107C101F;
		color: #107C10; 
	}
	.colorWarning { 
		background-color: #E6A7001F;
		color: #E6A700;
	}
	.colorCritical { 
		background-color: #C301011F;
		color: #C30101; 
	}

	.btnContainer {
		display: inline-block;
	}

	.button {
		// Our button
		text-decoration: none;
		height: 75px;

		// Primary Button
		width: 140px;
		border-color: $ms-color-themePrimary;
		margin-right: 15px;
		margin-top: 10px;
		border-radius: 5px;

		// Basic Button
		outline: transparent;
		position: relative;
		font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
		-webkit-font-smoothing: antialiased;
		font-size: $ms-font-size-m;
		font-weight: $ms-font-weight-regular;
		border-width: 0;
		text-align: center;
		cursor: pointer;
		display: inline-block;
		padding: 0 16px;

		.label {
			font-weight: $ms-font-weight-semibold;
			font-size: $ms-font-size-m;
			height: 75px;
			width: 140px;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
	}

	.btnLink:hover { filter: brightness(85%); z-index: 9999; }

	.submenuContainer {
		position: relative;
	}

	.btnSubmenu {
		position: absolute;
		display: none;
		// visibility: hidden;
		height: 0px;
		overflow: hidden;
		bottom: 0;
		right: -153px;
		width: 150px;
		margin-block-end: 0;
		transition: all 1s ease-in;
		z-index: 9999;
	}

	.submenuItem {
		display: block;
		padding: 5px;
		border: 1px solid black;
		filter: brightness(100%);

		a {
			text-decoration: none;
		}

		.itemLabel {
			font-weight: $ms-font-weight-semibold;
			font-size: $ms-font-size-m;
			vertical-align: middle;
			text-align: center;
		}
	}

	.submenuItem:hover { filter: brightness(85%); z-index: 9999; }

	.btnLinkMenu:hover ul {
		display: block;
		// visibility: visible;
		height: auto;
	}

}
